<!-- HEADER -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>

<app-medicina-header></app-medicina-header>

<div class="linea text-center" id="conten2">
    <h1 class=" texto">Extremidades Superiores</h1>
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-sm-3 filtro-bg-white ">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="filtro1Dropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Hombro
                </button>
                <ul class="dropdown-menu" aria-labelledby="filtro1Dropdown">
                    <li><a class="dropdown-item" >Opción 1</a></li>
                    <!-- Agrega más opciones según sea necesario -->
                </ul>
            </div>
            <a routerLink="/pizarra">
                <img src="./assets/imgCont1.png" alt="Imagen 1">
              </a>
        </div>
        <div class="col-sm-3 filtro-bg-white ">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="filtro1Dropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Brazo
                </button>
                <ul class="dropdown-menu" aria-labelledby="filtro1Dropdown">
                    <li><a class="dropdown-item" href="#">Opción 1</a></li>
                    <!-- Agrega más opciones según sea necesario -->
                </ul>
            </div>
            <img src="./assets/imgCont2.png" alt="Imagen 2">
        </div>
        <div class="col-sm-3 filtro-bg-white ">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="filtro1Dropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Clavícula/Escápula
                </button>
                <ul class="dropdown-menu" aria-labelledby="filtro1Dropdown">
                    <li><a class="dropdown-item" href="#">Opción 1</a></li>
                    <!-- Agrega más opciones según sea necesario -->
                </ul>
            </div>
            <img src="./assets/imgCont3.png" alt="Imagen 3">

        </div>
        <div class="col-sm-3 filtro-bg-white ">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="filtro1Dropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Antebrazo
                </button>
                <ul class="dropdown-menu" aria-labelledby="filtro1Dropdown">
                    <li><a class="dropdown-item" href="#">Opción 1</a></li>
                    <!-- Agrega más opciones según sea necesario -->
                </ul>
            </div>
            <img src="./assets/imgCont4.png" alt="Imagen 4">
        </div>
    </div>


    <!-- FOOTER -->
    <app-medicina-footer></app-medicina-footer>