<div class="cuad p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
  <div class="row align-items-center">
    <div class="col-lg-7">
      <h1 class="tit display-4 fst-italic text-center text-lg-start">
        ANATOMÍA <span class="highlight">HUMANA</span> 3D
      </h1>
      <p class="lead my-3 text-center text-lg-start">Aumenta tu conocimiento sobre la anatomía humana, gracias a diversos recursos de estudio como muestras 3D, videos de anatomía, radiografías y dibujos. Dispones de un test rápido para poner a prueba tus conocimientos.</p>
    </div>
    <div class="col-lg-5 text-center">
      <img src="../../../../assets/imgIntro.png" alt="Imagen" class="img-fluid">
    </div>
  </div>
</div>
