<div class="linea">
  <div class="fondo">
    <h1 class="titulo">¿Qué podemos encontrar?</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="card card-custom">
      <img class="card-img-top img-custom" src="../../../../assets/img1.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Radiografías</h5>
        <p class="card-text">A través de radiografías, los estudiantes podrán examinar las diferentes partes del
          cuerpo humano y entender cómo están conectadas entre sí, ayudando a una mejor comprensión de sus estudios.
        </p>
        <a routerLink="/cont" class="card-link">
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card card-custom">

      <img class="card-img-top img-custom" src="../../../../assets/img2.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Muestras</h5>
        <p class="card-text">Gracias a las muestras 3D, los estudiantes pueden comprender de mejor manera la
          estructura del cuerpo humano, gracias a una representación visual y realista.</p>
        <a routerLink="/cont" class="card-link">
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card card-custom">

      <img class="card-img-top img-custom" src="../../../../assets/img3.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Videos Anatomía</h5>
        <p class="card-text">Los videos proporcionan una forma flexible de estudio, permitiendo a los estudiantes
          pausar y rebobinar para un mejor aprendizaje.</p>
        <a routerLink="/cont" class="card-link">
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card card-custom">

      <img class="card-img-top img-custom" src="../../../../assets/img4.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Imágenes 2D</h5>
        <p class="card-text">Las imágenes 2D ofrecen una visualización clara y precisa de las diferentes partes del
          cuerpo humano. Además, un test rápido brinda un aprendizaje interactivo.</p>
        <a routerLink="/cont" class="card-link">
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>