#glosario {
  background-color: #21B2C5;
  border-left: 2px solid black;
  border-right: 2px solid rgb(75, 65, 65);
  color: #fff;
}


.form-control {
  border-radius: 63px;
  margin-top: 20px;
  /* Añade espacio sobre del elemento */
  background: #FDFDFD;
  padding-left: 10%;
  margin-bottom: 20px;
  /* Añade espacio debajo del elemento */

}

.input-with-icon {
  position: relative;
  margin-right: 20%;
}

.search-icon {
  position: absolute;
  /* Ajusta el valor según la posición vertical deseada */
  left: 10%;
  /* Ajusta el valor según la posición horizontal deseada */
  transform: translateY(50%);
  width: 25.833px;
  height: 24.314px;
  margin-right: 10%;

}

/* Ajusta la alineación vertical y horizontal del contenido del campo de entrada */
.form-control {
  text-align: center;
  /* Centra horizontalmente el contenido */
  padding-top: 10px;
  /* Ajusta el espaciado superior según sea necesario */
}



.carousel {
  background-color: #BFE3E2;

}

.carousel-content {
  display: flex;
  width: 1440px;
  height: 163px;
  padding: 22px 540px;
  justify-content: center;
  align-items: center;
  gap: 57px;
  flex-shrink: 0;
  background: rgba(0, 143, 140, 0.25);

}

.flecha-izquierda,
.flecha-derecha {
  font-size: 24px;
  color: black;
  margin-bottom: 120px;
  cursor: pointer;
}



.flecha-derecha {
  margin-left: 5.4rem;
}

.flecha-izquierda {
  margin-right: 8rem;
}


#letra {
  color: #21B2C5;
  font-size: 10rem;
}

.img {
  border-radius: 25px;
  margin-top: 10%;

}

/* Estilo para h2 */
h2 {
  margin-top: 10%;
  margin-bottom: 7%;
  color: #000;
  /* titulo */
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  /* 33.333% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* Estilo para p */
p {
  color: #000;
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  /* 145.833% */
  letter-spacing: 0.48px;
  text-align: justify;
}