<!-- HEADER -->
<app-medicina-header></app-medicina-header>

<div class="linea text-center" id="glosario">
  <h1 class="texto">GLOSARIO</h1>
</div>

<div class="d-flex justify-content-end">
  <form class="form-inline my-2 my-lg-0">
    <div class="input-with-icon">
      <img src="./assets/lupa.png" alt="Icono de búsqueda" class="search-icon">
      <input class="form-control mr-sm-2" [(ngModel)]="searchText" (ngModelChange)="onSearchChange()" type="search"
        placeholder="Buscar" aria-label="Search anything....">
    </div>
  </form>
</div>


<div class="d-flex justify-content-center align-items-center custom-carousel">
  <!-- Tu carrusel personalizado -->
  <div class="carousel-content">
    <div class="carousel-caption">
      <ul class="letras-lista">
        <div class="d-flex justify-content-center">
          <!-- Flecha a la izquierda -->
          <i class="fas fa-chevron-left flecha-izquierda" (click)="cambiarLetraAnterior()"></i>
          <!-- Flecha a la derecha -->
          <i class="fas fa-chevron-right flecha-derecha" (click)="cambiarLetraSiguiente()"></i>
        </div>
      </ul>
    </div>
    <div class="carousel-body" id="letra">
      {{ seleccionActual }}
    </div>
  </div>
</div>
<ul>
  <li *ngFor="let letra of glosario[seleccionActual]">
    <!-- Genera enlaces dinámicos para cada término del glosario -->
    <a [routerLink]="['/glosAbd', letra]">{{ letra }}</a>
  </li>
</ul>

<!-- <div class="informacion-letra">
  <h2> {{ seleccionActual }}</h2>
  <ul>
    <li *ngFor="let palabra of glosario[seleccionActual]">{{ palabra }}</li>
  </ul>
</div> -->
<!-- FOOTER -->
<app-medicina-footer></app-medicina-footer>