<!-- HEADER -->
<app-medicina-header></app-medicina-header>

<div class="linea text-center" id="cont">
  <h1 class="texto">Contenidos</h1>
</div>
<br>
<div class="row">
  <div class="col-sm-4">
    <div class="card card-custom">
      <div class="vertical-line"></div>
      <a routerLink="/conten2"><img class="card-img-top img-custom" src="./assets/extSup.png" alt="Card image cap"></a>
      <div class="card-body">
        <h5 class="card-title">Volumen 1:</h5>
        <h5 class="card-title">EXTREMIDADES SUPERIORES</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card card-custom">
      <div class="vertical-line"></div>
      <a routerLink="/conten2"><img class="card-img-top img-custom" src="./assets/extInf.png" alt="Card image cap"></a>
      <div class="card-body">
        <h5 class="card-title">Volumen 2:</h5>
        <h5 class="card-title">EXTREMIDADES INFERIORES</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-custom">
      <a routerLink="/conten2"><img class="card-img-top img-custom" src="./assets/cabCuello.png"
          alt="Card image cap"></a>
      <div class="card-body">
        <h5 class="card-title">Volumen 3:</h5>
        <h5 class="card-title">CABEZA Y CUELLO</h5>
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-sm-4">
    <div class="card-custom2">
      <p class="text">Te presento las distintas secciones, las cuales te ayudarán a reforzar tu conocimiento sobre:
        <b class="color">ANATOMÍA HUMANA</b>
      </p>
      <img src="./assets/figCont (1).png" alt="">
    </div>

  </div>
  <div class="col-sm-4">
    <div class="card card-custom">
      <div class="vertical-line"></div>
      <a routerLink="/conten2"><img class="card-img-top img-custom" src="./assets/OrgInt.png" alt="Card image cap"></a>
      <div class="card-body">
        <h5 class="card-title">Volumen 4:</h5>
        <h5 class="card-title">ORGANOS INTERNOS</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-custom">
      <a routerLink="/conten2"><img class="card-img-top img-custom" src="./assets/torso.png" alt="Card image cap"></a>
      <div class="card-body">
        <h5 class="card-title">Volumen 5:</h5>
        <h5 class="card-title">TORSO</h5>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<app-medicina-footer></app-medicina-footer>