<!-- HEADER -->
<app-medicina-header></app-medicina-header>

<div class="linea text-center" id="cont">
  <h1 class="texto">Contenidos</h1>
</div>
<br>
<div class="row">
  <div class="col-sm-4">
    <div class="card card-custom">
      <img class="card-img-top img-custom" src="./assets/img1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Volumen 1:</h5>
        <h5 class="card-title">EXTREMIDADES SUPERIORES</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card card-custom">
      <img class="card-img-top img-custom" src="./assets/img1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Volumen 1:</h5>
        <h5 class="card-title">EXTREMIDADES SUPERIORES</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-custom">
      <img class="card-img-top img-custom" src="./assets/img1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Volumen 1:</h5>
        <h5 class="card-title">EXTREMIDADES SUPERIORES</h5>
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-sm-4">
    <div class="card-custom2">
      <p class="text">Te presento las distintas secciones, las cuales te ayudarán a reforzar tu conocimiento sobre:
        <b class="color">ANATOMÍA HUMANA</b></p>
        <img src="./assets/figCont (1).png" alt="">
    </div>

  </div>
  <div class="col-sm-4">
    <div class="card card-custom">
      <img class="card-img-top img-custom" src="./assets/img1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Volumen 1:</h5>
        <h5 class="card-title">EXTREMIDADES SUPERIORES</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-custom">
      <img class="card-img-top img-custom" src="./assets/img1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Volumen 1:</h5>
        <h5 class="card-title">EXTREMIDADES SUPERIORES</h5>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<app-medicina-footer></app-medicina-footer>
